@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    caramellatte --default,
    coffee --prefersdark;
}

@layer components {
  .hover-expand {
    @apply relative z-10 inline-grid place-items-center overflow-visible p-2 cursor-pointer;
  }

  .hover-expand::before {
    content: '';
    @apply absolute w-full h-full rounded-full -z-10 opacity-0 transition-all duration-300 ease-out;
    background-color: currentColor;
    transform: scale(0);
  }

  .hover-expand:hover::before {
    @apply opacity-15;
    transform: scale(1);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}
