---
interface Props {
  name: string;
  class?: string;
}

const { name, class: className } = Astro.props;

const techMap: Record<string, string> = {
  'c++': 'blue',
  'c#': 'purple',
  typescript: 'blue',
  javascript: 'yellow',
  python: 'yellow',
  'unreal engine': 'gray',
  angular: 'red',
  '.net': 'purple',
  'entity framework': 'purple',
  react: 'blue',
  astro: 'orange',
  html: 'orange',
  css: 'blue',
  scss: 'pink',
  tailwind: 'cyan',
  'microsoft sql': 'red',
  postgresql: 'blue',
  supabase: 'emerald',
  'dll interop': 'gray',
  '3d point cloud visualization': 'cyan',
  'visualisation 3d nuage de points': 'cyan',
  lidar: 'red',
  scrum: 'orange',
  git: 'red',
  docker: 'blue',
  linux: 'gray',
  figma: 'purple',
};

const key = name.toLowerCase();
const matchedKey = Object.keys(techMap).find((k) => key.includes(k)) || '';
const color = techMap[key] || techMap[matchedKey] || 'gray';

const badgeColorClass = `badge-tech-${color}`;
---

<span class:list={['badge-tech', badgeColorClass, className]}>
  <span class="text-xs">{name}</span>
</span>
